<h1>Информация о студенте</h1>

<ul>	
	<li>ID: <%=@student.id%> </li> 
	<li>Имя: <%=@student.name%> </li>
	<li>Дата рождения: <%=@student.birth_date%> </li>
	<li>Учебное заведение: <%=@student.school_name%> </li>
	<li>Адрес: <%=@student.address%> </li>
	<li>Паспортные данные: <%=@student.passport_data%> </li>
	<li>Номер телефона: <%=@student.phone_number%> </li>
	<li>Учебная группа: <%=@student.group.name%> </li>
</ul>

<div class="buttons">
<button type="button" class="btn btn-basic">
	<%=link_to "Назад", students_path%>
</button>
</div>