<h1>Новый пользователь</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= simple_form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      

      <%= f.label :email %>
      

      <%= f.label :password %>
      

      <%= f.label :password_confirmation, "Confirmation" %>
      

      <%= f.submit "Создать", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>