<% if user_signed_in? || admin_signed_in? %>
<h1>Преподаватели</h1> 

<% if admin_signed_in? %>
	<div class="buttons">
		<button type="button" class="btn btn-default">
			<h5><%=link_to "Добавить", "teachers/new" %></h5>
		</button>
	</div>
<% end %>
<% end %>

<% if @teachers.empty? %>
	<b>Нет преподавателей</b>
<% else %>

<% if user_signed_in? || admin_signed_in? %>
	<table class="table table-striped">
		<tr>
			<th></th>
			<th>Имя преподавателя</th>
			<th>Курс</th>
			<th></th>
			<th></th>
		</tr>

	<% @teachers.each do |t| %>
		<tr>
			<td><%=link_to t.id, teacher_path(t)%></td>
			<td><%=link_to t.name, teacher_path(t)%></td>
			<td><%=link_to t.course.name, course_path(t)%></td>
			<% if admin_signed_in? %>
			<td><%=link_to edit_teacher_path(t) do%>	
					<i class="glyphicon glyphicon-edit"></i>		
				<% end %>
			</td>
			<td><%=link_to t, method: :delete, data: {confirm: "Точно удалить?"} do%>
					<i class="glyphicon glyphicon-remove"></i>
				<% end %>
			</td>
			<% end %>
		</tr>
	<% end %>
	<% end %>
<% end %>
	</table>

</br>
<% if user_signed_in? || admin_signed_in? %>
<div class="buttons">
<button type="button" class="btn btn-basic">
	<%=link_to "Курсы" , courses_path%> &nbsp
</button>
<button type="button" class="btn btn-basic">
	<%=link_to "Студенты", students_path%> &nbsp
</button>
<button type="button" class="btn btn-basic">
	<%=link_to "Группы",   groups_path%>
</button>
</div>
<% end %>

